.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  display: block;
  margin: 0 0 8px;
  font-style: normal;
  font-weight: 500;
}

.form__label:last-child {
  margin: 0;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  column-gap: 12px;
}

.form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 60px;
  margin: 0 0 32px;
  padding-left: 20px;
  border: 1px solid;
  border-radius: 4px;
}

.form__input::placeholder {
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  width: 100%;
  border-radius: 4px;
  font-weight: 500;
  background-color: #2f80ed;
  color: #fff;
  height: 60px;
  padding: 0;
  margin: 0 0 32px;
  transition: opacity 0.3s linear;
  border: none;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  font-style: normal;
  font-weight: 500;
  width: 20px;
  height: 20px;
  margin: 0;
}

.form__checkbox:checked {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #2f80ed url(../images/check.svg) center / auto no-repeat;
}
